PORT=3600
DB_SERVER=DESARROLLADOR1\SQLEXPRESS
DB_USER=CeereRIPS            
DB_PASSWORD=crsoft
DB_DATABASE=Laureles3
DB_ENCRYPT=false
DB_TRUST_SERVER_CERT=true
DB_CAJA_DOCUMENTO_EMPRESA=70123456
DB_CAJA_TERMINAL_DEFAULT=
DB_CAJA_ESTADO_ABIERTA=67
DB_CAJA_ESTADO_CERRADA=68
DB_CAJA_TIPO_ITEM_APERTURA=1
DB_CAJA_TIPO_ITEM_EGRESO=7
